# Database URL de PostgreSQL en Railway
DATABASE_URL=postgresql://postgres:iVijcheTeJmdlYlxJATvRRpUBtPLmwpo@postgres.railway.internal:5432/railway

# API Key de Pokémon TCG
POKEMON_TCG_API_KEY=d008fe15-57fe-4903-b6a0-c5a55be8caf7
